@import "./base";
.study {
	font-size: 1.6rem;
	color: #333;
	line-height: 1.6;
	.main {
		display: flex;
		padding-top: 6rem;
		width: 100%;
		min-height: 100%;
	}
	.contents {
		width: calc(100% - 28rem);
		margin-left: 28rem;
		padding: 2.4rem;
		padding-bottom: 8rem;
		&__title {
			width: 80rem;
			max-width: 100%;
			margin: 0 auto;
			font-size: 2rem;
			font-weight: 700;
			margin-bottom: 2.8rem;
		}

		img {
			max-width: 100%;
		}

		a {
			color: #5cd2b9;
			text-decoration: underline;
		}

		strong {
			color: #333;
		}
	}
}

.text {
	&-indent {
		padding: 0 0.4rem;
	}
	&-center {
		text-align: center;
	}
	&-left {
		text-align: left;
	}
	&-source {
		text-align: center;
		font-size: 1.2rem;
	}
}

@media screen and (max-width: 784px) {
	.study {
		.contents {
			width: 100%;
			margin-left: 0;
			padding: 1.6rem;
			padding-bottom: 8rem;
			img {
				max-width: 100%;
			}
		}
	}
}
