@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  word-spacing: -0.05em;
  word-break: keep-all;
  white-space: normal;
}
*:after, *:before {
  box-sizing: border-box;
}

*::-moz-selection {
  background: #0a64bf;
  color: #fff;
}

*::selection {
  background: #0a64bf;
  color: #fff;
}

html,
body {
  width: 100%;
  height: 100%;
  -webkit-text-size-adjust: none;
  font-size: 62.5%;
}

body {
  font-size: 62.5%;
  font-family: "Noto Sans KR", sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

label {
  cursor: pointer;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

code {
  display: block;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: none;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
blockquote,
big,
body,
center,
canvas,
caption,
cite,
code,
command,
datalist,
dd,
del,
details,
dfn,
dl,
div,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
keygen,
label,
legend,
li,
meter,
nav,
menu,
object,
ol,
output,
p,
pre,
progress,
q,
s,
samp,
section,
small,
span,
source,
strike,
strong,
sub,
sup,
table,
tbody,
tfoot,
thead,
th,
tr,
td,
video,
tt,
u,
ul,
var {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
th,
td,
table,
input,
button,
select,
textarea {
  font-size: inherit;
}

input,
button,
select,
textarea {
  margin: 0;
  padding: 0;
  font-family: "SUIT", sans-serif;
  color: #555;
  box-sizing: border-box;
  font-size: inherit;
}

em,
cite,
address,
optgroup {
  font-style: normal;
}

kbd,
samp,
code {
  font-family: monospace;
}

img,
input,
button,
select,
textarea {
  vertical-align: middle;
}

img {
  -ms-interpolation-mode: bicubic !important;
}

ul,
ol {
  list-style: none;
}

img,
fieldset {
  border: 0;
}

abbr,
acronym {
  border-bottom: 1px dotted --black;
  cursor: help;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

article,
aside,
audio,
canvas,
command,
datalist,
details,
embed,
figcaption,
figure,
footer,
header,
hgroup,
keygen,
meter,
nav,
output,
progress,
section,
source,
video {
  display: block;
}

mark,
rp,
rt,
ruby,
summary,
time {
  display: inline;
}

.mt0 {
  margin-top: 0px !important;
}

.mb0 {
  margin-bottom: 0px !important;
}

.mt1 {
  margin-top: 1px !important;
}

.mb1 {
  margin-bottom: 1px !important;
}

.mt2 {
  margin-top: 2px !important;
}

.mb2 {
  margin-bottom: 2px !important;
}

.mt3 {
  margin-top: 3px !important;
}

.mb3 {
  margin-bottom: 3px !important;
}

.mt4 {
  margin-top: 4px !important;
}

.mb4 {
  margin-bottom: 4px !important;
}

.mt5 {
  margin-top: 5px !important;
}

.mb5 {
  margin-bottom: 5px !important;
}

.mt6 {
  margin-top: 6px !important;
}

.mb6 {
  margin-bottom: 6px !important;
}

.mt7 {
  margin-top: 7px !important;
}

.mb7 {
  margin-bottom: 7px !important;
}

.mt8 {
  margin-top: 8px !important;
}

.mb8 {
  margin-bottom: 8px !important;
}

.mt9 {
  margin-top: 9px !important;
}

.mb9 {
  margin-bottom: 9px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.mt11 {
  margin-top: 11px !important;
}

.mb11 {
  margin-bottom: 11px !important;
}

.mt12 {
  margin-top: 12px !important;
}

.mb12 {
  margin-bottom: 12px !important;
}

.mt13 {
  margin-top: 13px !important;
}

.mb13 {
  margin-bottom: 13px !important;
}

.mt14 {
  margin-top: 14px !important;
}

.mb14 {
  margin-bottom: 14px !important;
}

.mt15 {
  margin-top: 15px !important;
}

.mb15 {
  margin-bottom: 15px !important;
}

.mt16 {
  margin-top: 16px !important;
}

.mb16 {
  margin-bottom: 16px !important;
}

.mt17 {
  margin-top: 17px !important;
}

.mb17 {
  margin-bottom: 17px !important;
}

.mt18 {
  margin-top: 18px !important;
}

.mb18 {
  margin-bottom: 18px !important;
}

.mt19 {
  margin-top: 19px !important;
}

.mb19 {
  margin-bottom: 19px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.mt21 {
  margin-top: 21px !important;
}

.mb21 {
  margin-bottom: 21px !important;
}

.mt22 {
  margin-top: 22px !important;
}

.mb22 {
  margin-bottom: 22px !important;
}

.mt23 {
  margin-top: 23px !important;
}

.mb23 {
  margin-bottom: 23px !important;
}

.mt24 {
  margin-top: 24px !important;
}

.mb24 {
  margin-bottom: 24px !important;
}

.mt25 {
  margin-top: 25px !important;
}

.mb25 {
  margin-bottom: 25px !important;
}

.mt26 {
  margin-top: 26px !important;
}

.mb26 {
  margin-bottom: 26px !important;
}

.mt27 {
  margin-top: 27px !important;
}

.mb27 {
  margin-bottom: 27px !important;
}

.mt28 {
  margin-top: 28px !important;
}

.mb28 {
  margin-bottom: 28px !important;
}

.mt29 {
  margin-top: 29px !important;
}

.mb29 {
  margin-bottom: 29px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.mt31 {
  margin-top: 31px !important;
}

.mb31 {
  margin-bottom: 31px !important;
}

.mt32 {
  margin-top: 32px !important;
}

.mb32 {
  margin-bottom: 32px !important;
}

.mt33 {
  margin-top: 33px !important;
}

.mb33 {
  margin-bottom: 33px !important;
}

.mt34 {
  margin-top: 34px !important;
}

.mb34 {
  margin-bottom: 34px !important;
}

.mt35 {
  margin-top: 35px !important;
}

.mb35 {
  margin-bottom: 35px !important;
}

.mt36 {
  margin-top: 36px !important;
}

.mb36 {
  margin-bottom: 36px !important;
}

.mt37 {
  margin-top: 37px !important;
}

.mb37 {
  margin-bottom: 37px !important;
}

.mt38 {
  margin-top: 38px !important;
}

.mb38 {
  margin-bottom: 38px !important;
}

.mt39 {
  margin-top: 39px !important;
}

.mb39 {
  margin-bottom: 39px !important;
}

.mt40 {
  margin-top: 40px !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.mt41 {
  margin-top: 41px !important;
}

.mb41 {
  margin-bottom: 41px !important;
}

.mt42 {
  margin-top: 42px !important;
}

.mb42 {
  margin-bottom: 42px !important;
}

.mt43 {
  margin-top: 43px !important;
}

.mb43 {
  margin-bottom: 43px !important;
}

.mt44 {
  margin-top: 44px !important;
}

.mb44 {
  margin-bottom: 44px !important;
}

.mt45 {
  margin-top: 45px !important;
}

.mb45 {
  margin-bottom: 45px !important;
}

.mt46 {
  margin-top: 46px !important;
}

.mb46 {
  margin-bottom: 46px !important;
}

.mt47 {
  margin-top: 47px !important;
}

.mb47 {
  margin-bottom: 47px !important;
}

.mt48 {
  margin-top: 48px !important;
}

.mb48 {
  margin-bottom: 48px !important;
}

.mt49 {
  margin-top: 49px !important;
}

.mb49 {
  margin-bottom: 49px !important;
}

.mt50 {
  margin-top: 50px !important;
}

.mb50 {
  margin-bottom: 50px !important;
}

.mt51 {
  margin-top: 51px !important;
}

.mb51 {
  margin-bottom: 51px !important;
}

.mt52 {
  margin-top: 52px !important;
}

.mb52 {
  margin-bottom: 52px !important;
}

.mt53 {
  margin-top: 53px !important;
}

.mb53 {
  margin-bottom: 53px !important;
}

.mt54 {
  margin-top: 54px !important;
}

.mb54 {
  margin-bottom: 54px !important;
}

.mt55 {
  margin-top: 55px !important;
}

.mb55 {
  margin-bottom: 55px !important;
}

.mt56 {
  margin-top: 56px !important;
}

.mb56 {
  margin-bottom: 56px !important;
}

.mt57 {
  margin-top: 57px !important;
}

.mb57 {
  margin-bottom: 57px !important;
}

.mt58 {
  margin-top: 58px !important;
}

.mb58 {
  margin-bottom: 58px !important;
}

.mt59 {
  margin-top: 59px !important;
}

.mb59 {
  margin-bottom: 59px !important;
}

.mt60 {
  margin-top: 60px !important;
}

.mb60 {
  margin-bottom: 60px !important;
}

.mt61 {
  margin-top: 61px !important;
}

.mb61 {
  margin-bottom: 61px !important;
}

.mt62 {
  margin-top: 62px !important;
}

.mb62 {
  margin-bottom: 62px !important;
}

.mt63 {
  margin-top: 63px !important;
}

.mb63 {
  margin-bottom: 63px !important;
}

.mt64 {
  margin-top: 64px !important;
}

.mb64 {
  margin-bottom: 64px !important;
}

.mt65 {
  margin-top: 65px !important;
}

.mb65 {
  margin-bottom: 65px !important;
}

.mt66 {
  margin-top: 66px !important;
}

.mb66 {
  margin-bottom: 66px !important;
}

.mt67 {
  margin-top: 67px !important;
}

.mb67 {
  margin-bottom: 67px !important;
}

.mt68 {
  margin-top: 68px !important;
}

.mb68 {
  margin-bottom: 68px !important;
}

.mt69 {
  margin-top: 69px !important;
}

.mb69 {
  margin-bottom: 69px !important;
}

.mt70 {
  margin-top: 70px !important;
}

.mb70 {
  margin-bottom: 70px !important;
}

.mt71 {
  margin-top: 71px !important;
}

.mb71 {
  margin-bottom: 71px !important;
}

.mt72 {
  margin-top: 72px !important;
}

.mb72 {
  margin-bottom: 72px !important;
}

.mt73 {
  margin-top: 73px !important;
}

.mb73 {
  margin-bottom: 73px !important;
}

.mt74 {
  margin-top: 74px !important;
}

.mb74 {
  margin-bottom: 74px !important;
}

.mt75 {
  margin-top: 75px !important;
}

.mb75 {
  margin-bottom: 75px !important;
}

.mt76 {
  margin-top: 76px !important;
}

.mb76 {
  margin-bottom: 76px !important;
}

.mt77 {
  margin-top: 77px !important;
}

.mb77 {
  margin-bottom: 77px !important;
}

.mt78 {
  margin-top: 78px !important;
}

.mb78 {
  margin-bottom: 78px !important;
}

.mt79 {
  margin-top: 79px !important;
}

.mb79 {
  margin-bottom: 79px !important;
}

.mt80 {
  margin-top: 80px !important;
}

.mb80 {
  margin-bottom: 80px !important;
}

.mt81 {
  margin-top: 81px !important;
}

.mb81 {
  margin-bottom: 81px !important;
}

.mt82 {
  margin-top: 82px !important;
}

.mb82 {
  margin-bottom: 82px !important;
}

.mt83 {
  margin-top: 83px !important;
}

.mb83 {
  margin-bottom: 83px !important;
}

.mt84 {
  margin-top: 84px !important;
}

.mb84 {
  margin-bottom: 84px !important;
}

.mt85 {
  margin-top: 85px !important;
}

.mb85 {
  margin-bottom: 85px !important;
}

.mt86 {
  margin-top: 86px !important;
}

.mb86 {
  margin-bottom: 86px !important;
}

.mt87 {
  margin-top: 87px !important;
}

.mb87 {
  margin-bottom: 87px !important;
}

.mt88 {
  margin-top: 88px !important;
}

.mb88 {
  margin-bottom: 88px !important;
}

.mt89 {
  margin-top: 89px !important;
}

.mb89 {
  margin-bottom: 89px !important;
}

.mt90 {
  margin-top: 90px !important;
}

.mb90 {
  margin-bottom: 90px !important;
}

.mt91 {
  margin-top: 91px !important;
}

.mb91 {
  margin-bottom: 91px !important;
}

.mt92 {
  margin-top: 92px !important;
}

.mb92 {
  margin-bottom: 92px !important;
}

.mt93 {
  margin-top: 93px !important;
}

.mb93 {
  margin-bottom: 93px !important;
}

.mt94 {
  margin-top: 94px !important;
}

.mb94 {
  margin-bottom: 94px !important;
}

.mt95 {
  margin-top: 95px !important;
}

.mb95 {
  margin-bottom: 95px !important;
}

.mt96 {
  margin-top: 96px !important;
}

.mb96 {
  margin-bottom: 96px !important;
}

.mt97 {
  margin-top: 97px !important;
}

.mb97 {
  margin-bottom: 97px !important;
}

.mt98 {
  margin-top: 98px !important;
}

.mb98 {
  margin-bottom: 98px !important;
}

.mt99 {
  margin-top: 99px !important;
}

.mb99 {
  margin-bottom: 99px !important;
}

.mt100 {
  margin-top: 100px !important;
}

.mb100 {
  margin-bottom: 100px !important;
}

.pt0 {
  padding-top: 0px !important;
}

.pt1 {
  padding-top: 1px !important;
}

.pt2 {
  padding-top: 2px !important;
}

.pt3 {
  padding-top: 3px !important;
}

.pt4 {
  padding-top: 4px !important;
}

.pt5 {
  padding-top: 5px !important;
}

.pt6 {
  padding-top: 6px !important;
}

.pt7 {
  padding-top: 7px !important;
}

.pt8 {
  padding-top: 8px !important;
}

.pt9 {
  padding-top: 9px !important;
}

.pt10 {
  padding-top: 10px !important;
}

.pt11 {
  padding-top: 11px !important;
}

.pt12 {
  padding-top: 12px !important;
}

.pt13 {
  padding-top: 13px !important;
}

.pt14 {
  padding-top: 14px !important;
}

.pt15 {
  padding-top: 15px !important;
}

.pt16 {
  padding-top: 16px !important;
}

.pt17 {
  padding-top: 17px !important;
}

.pt18 {
  padding-top: 18px !important;
}

.pt19 {
  padding-top: 19px !important;
}

.pt20 {
  padding-top: 20px !important;
}

.pt21 {
  padding-top: 21px !important;
}

.pt22 {
  padding-top: 22px !important;
}

.pt23 {
  padding-top: 23px !important;
}

.pt24 {
  padding-top: 24px !important;
}

.pt25 {
  padding-top: 25px !important;
}

.pt26 {
  padding-top: 26px !important;
}

.pt27 {
  padding-top: 27px !important;
}

.pt28 {
  padding-top: 28px !important;
}

.pt29 {
  padding-top: 29px !important;
}

.pt30 {
  padding-top: 30px !important;
}

.pt31 {
  padding-top: 31px !important;
}

.pt32 {
  padding-top: 32px !important;
}

.pt33 {
  padding-top: 33px !important;
}

.pt34 {
  padding-top: 34px !important;
}

.pt35 {
  padding-top: 35px !important;
}

.pt36 {
  padding-top: 36px !important;
}

.pt37 {
  padding-top: 37px !important;
}

.pt38 {
  padding-top: 38px !important;
}

.pt39 {
  padding-top: 39px !important;
}

.pt40 {
  padding-top: 40px !important;
}

.pt41 {
  padding-top: 41px !important;
}

.pt42 {
  padding-top: 42px !important;
}

.pt43 {
  padding-top: 43px !important;
}

.pt44 {
  padding-top: 44px !important;
}

.pt45 {
  padding-top: 45px !important;
}

.pt46 {
  padding-top: 46px !important;
}

.pt47 {
  padding-top: 47px !important;
}

.pt48 {
  padding-top: 48px !important;
}

.pt49 {
  padding-top: 49px !important;
}

.pt50 {
  padding-top: 50px !important;
}

.pt51 {
  padding-top: 51px !important;
}

.pt52 {
  padding-top: 52px !important;
}

.pt53 {
  padding-top: 53px !important;
}

.pt54 {
  padding-top: 54px !important;
}

.pt55 {
  padding-top: 55px !important;
}

.pt56 {
  padding-top: 56px !important;
}

.pt57 {
  padding-top: 57px !important;
}

.pt58 {
  padding-top: 58px !important;
}

.pt59 {
  padding-top: 59px !important;
}

.pt60 {
  padding-top: 60px !important;
}

.pt61 {
  padding-top: 61px !important;
}

.pt62 {
  padding-top: 62px !important;
}

.pt63 {
  padding-top: 63px !important;
}

.pt64 {
  padding-top: 64px !important;
}

.pt65 {
  padding-top: 65px !important;
}

.pt66 {
  padding-top: 66px !important;
}

.pt67 {
  padding-top: 67px !important;
}

.pt68 {
  padding-top: 68px !important;
}

.pt69 {
  padding-top: 69px !important;
}

.pt70 {
  padding-top: 70px !important;
}

.pt71 {
  padding-top: 71px !important;
}

.pt72 {
  padding-top: 72px !important;
}

.pt73 {
  padding-top: 73px !important;
}

.pt74 {
  padding-top: 74px !important;
}

.pt75 {
  padding-top: 75px !important;
}

.pt76 {
  padding-top: 76px !important;
}

.pt77 {
  padding-top: 77px !important;
}

.pt78 {
  padding-top: 78px !important;
}

.pt79 {
  padding-top: 79px !important;
}

.pt80 {
  padding-top: 80px !important;
}

.pt81 {
  padding-top: 81px !important;
}

.pt82 {
  padding-top: 82px !important;
}

.pt83 {
  padding-top: 83px !important;
}

.pt84 {
  padding-top: 84px !important;
}

.pt85 {
  padding-top: 85px !important;
}

.pt86 {
  padding-top: 86px !important;
}

.pt87 {
  padding-top: 87px !important;
}

.pt88 {
  padding-top: 88px !important;
}

.pt89 {
  padding-top: 89px !important;
}

.pt90 {
  padding-top: 90px !important;
}

.pt91 {
  padding-top: 91px !important;
}

.pt92 {
  padding-top: 92px !important;
}

.pt93 {
  padding-top: 93px !important;
}

.pt94 {
  padding-top: 94px !important;
}

.pt95 {
  padding-top: 95px !important;
}

.pt96 {
  padding-top: 96px !important;
}

.pt97 {
  padding-top: 97px !important;
}

.pt98 {
  padding-top: 98px !important;
}

.pt99 {
  padding-top: 99px !important;
}

.pt100 {
  padding-top: 100px !important;
}

html,
body {
  color: #333;
  scroll-behavior: smooth;
}

.button {
  display: flex;
  align-items: center;
  height: 51px;
  padding: 15px 30px;
  background-color: #333;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  line-height: 1;
  transition: all 0.3s ease;
}
.button .ico-more {
  margin-left: 30px;
}
.button:hover {
  background-color: #000;
}

.ico {
  display: inline-flex;
}
.ico-more {
  width: 40px;
  height: 12px;
  background: url(../images/ico_main_more_arrow.png) no-repeat center/100%;
}

.color--white {
  color: #fff !important;
}
.color--blue {
  color: #071360 !important;
}

.font-weight-400 {
  font-weight: 400 !important;
}

img {
  max-width: 100%;
}

.mo {
  display: none;
}

.pc {
  display: inline;
}

.main {
  min-height: 100%;
}
.main-header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  transition: all 0.6s ease-in;
}
.main-header.active {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}
.main-header.active .main-header__logo--white {
  display: none;
}
.main-header.active .main-header__logo--black {
  display: block;
}
.main-header.active .main-header__gnb {
  color: #333;
}
.main-header.active .main-header__gnb-button span {
  background-color: #333;
}
.main-header.active .main-header__gnb-button.active span {
  background-color: #fff;
}
.main-header.active .main-header__login {
  color: #333;
}
.main-header .inner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 90px;
}
.main-header__logo {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}
.main-header__logo--black {
  display: none;
}
.main-header__login {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
.main-header__gnb {
  display: flex;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  gap: 100px;
}
.main-header__gnb-button {
  display: none;
}
.main-header__login {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}
.main-visual {
  transition: background 0.6s ease;
  background-color: #000;
}
.main-visual.bg01 {
  background: #000 url(../images/bg_main_visual_01.png) no-repeat top center;
}
.main-visual.bg02 {
  background: #000 url(../images/bg_main_visual_02.png) no-repeat top center;
}
.main-visual.bg03 {
  background: #000 url(../images/bg_main_visual_03.png) no-repeat top center;
}
.main-visual .inner {
  margin: 0 auto;
  max-width: 1240px;
  padding: 260px 20px 110px;
  color: #fff;
  line-height: 1;
}
.main-visual__text {
  font-size: 44px;
  color: #0ebde3;
}
.main-visual__text-sub {
  margin-top: 8px;
  font-size: 40px;
}
.main-visual__text-more {
  display: flex;
  align-items: center;
  margin-top: 16px;
}
.main-visual__text-more p {
  margin-right: 28px;
  font-size: 67px;
  font-weight: 700;
}
.main-visual .button {
  margin-top: 12px;
  background: rgba(255, 255, 255, 0.1);
}
.main-visual .button .ico-more {
  margin-left: 12px;
}
.main-visual .button:hover {
  background: rgba(255, 255, 255, 0.3);
}
.main-visual.active .main-section__nav-item {
  border-color: #508cef;
}
.main-visual.active .main-section__nav-item.active .main-section__nav-item--bg {
  background-color: #508cef;
}
.main-visual.active .main-section__nav-item.active .main-section__nav-title {
  color: #fff;
  border-color: #fff;
}
.main-visual.active .main-section__nav-item .main-section__nav-title {
  color: #508cef;
  border-color: #508cef;
}
.main-visual.active .main-section__nav-item:hover > .main-section__nav-item--bg {
  background-color: #508cef;
}
.main-visual.active .main-section__nav-item:hover .main-section__nav-title {
  color: #fff;
  border-color: #fff;
}
.main-visual.active .main-visual__text {
  color: #508cef;
}
.main-visual.active .main-section__nav-pagination li.active {
  background-color: #508cef;
}
.main-section--gray {
  background-color: #f6f6f6;
}
.main-section--blue {
  background-color: #0ebde3;
}
.main-section--picture {
  background: url(../images/bg_main_section06.jpg) no-repeat center top;
}
.main-section .inner {
  max-width: 1240px;
  margin: 0 auto;
  padding: 110px 20px;
}
.main-section__nav-pagination {
  display: flex;
  gap: 10px;
  margin-top: 40px;
}
.main-section__nav-pagination li {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
}
.main-section__nav-pagination li.active {
  width: 40px;
  background-color: #0ebde3;
  border-radius: 8px;
  transition: width ease 0.6s;
}
.main-section__nav ul {
  margin-top: 92px;
  display: flex;
  gap: 70px;
}
.main-section__nav-item {
  position: relative;
  flex-grow: 1;
  text-align: center;
  width: 100%;
}
.main-section__nav-item::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 32px;
  height: 46px;
  border: 1px solid #0ebde3;
  border-radius: 16px;
  background: url(../images/ico_scroll_arrow_down.png) no-repeat center;
}
.main-section__nav-item a {
  position: relative;
  display: block;
  width: 100%;
  height: 260px;
  padding: 30px;
  border: 1px solid #0ebde3;
}
.main-section__nav-item--bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #000;
  opacity: 0.3;
}
.main-section__nav-item.active, .main-section__nav-item:hover {
  color: #fff;
}
.main-section__nav-item.active .main-section__nav-item--bg, .main-section__nav-item:hover .main-section__nav-item--bg {
  background-color: #0ebde3;
  opacity: 1;
}
.main-section__nav-item.active .main-section__nav-title, .main-section__nav-item:hover .main-section__nav-title {
  color: #fff;
  border-color: #fff;
}
.main-section__nav-title {
  height: 60px;
  font-size: 24px;
  color: #0ebde3;
  border-bottom: 1px solid #0ebde3;
  line-height: 1;
}
.main-section__nav p {
  padding-top: 20px;
  font-size: 20px;
  line-height: 1.5;
}
.main-section__head {
  margin-bottom: 80px;
}
.main-section__head-text {
  vertical-align: bottom;
  text-align: center;
  font-weight: 300;
  font-size: 45px;
}
.main-section__head-text span {
  line-height: 1;
  font-size: 60px;
  color: #7562e9;
  font-weight: 500;
}
.main-section__head-text span strong {
  vertical-align: bottom;
  font-size: 78px;
}
.main-section__head-text-sub {
  margin-bottom: 20px;
  text-align: center;
  color: #999;
  font-size: 15px;
  line-height: 1;
}
.main-section__head-text-sub::before {
  content: "";
  display: block;
  width: 1px;
  height: 60px;
  margin: 0 auto 30px;
  background-color: #999;
}
.main-section__head-text-sub--white {
  color: #fff;
}
.main-section__head-text-sub--white::before {
  background-color: #fff;
}
.main-section__head-text--type02 {
  color: #071360;
}
.main-section__head-text--type02 span {
  font-weight: 400;
  font-size: 45px;
  line-height: 1.2;
  color: #071360;
}
.main-section__head-text--type03 {
  color: #fff;
  font-size: 45px;
}
.main-section__head-text--type03 strong {
  font-size: 60px;
}
.main-section__item {
  position: relative;
  width: 33.33%;
  text-align: center;
}
.main-section__item > p {
  font-size: 22px;
  margin: 24px 0 4px;
  font-weight: 700;
}
.main-section__item > p span {
  color: #174dae;
}
.main-section__item > span {
  color: #004c98;
  font-size: 18px;
}
.main-section__item-list {
  display: flex;
  position: relative;
}
.main-section__item-list--col5 {
  display: flex;
  align-items: center;
  height: 288px;
  padding: 0 28px;
}
.main-section__item-list--col5 .main-section__item {
  width: 20%;
}
.main-section__item-list--bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ebf3fd;
}
.main-section__item-step {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 282px;
  border-radius: 140px;
  border: 1px solid #fff;
}
.main-section__item-step-title {
  position: absolute;
  top: -30px;
  left: calc(50% - 230px);
  padding: 0 28px;
  background-color: #0ebde3;
  color: #fff;
  font-size: 50px;
  text-align: center;
  line-height: 1;
}
.main-section__item-step ol {
  display: flex;
  gap: 100px;
  padding-top: 20px;
}
.main-section__item-step ol li {
  position: relative;
  text-align: center;
}
.main-section__item-step ol li + li::before {
  content: "";
  position: absolute;
  top: calc(50% - 22px);
  left: -60px;
  transform: translateY(-50%);
  display: block;
  width: 30px;
  height: 48px;
  background: url("../images/ico_main_section03_arrow.png") no-repeat center;
}
.main-section__item-step ol li p {
  margin-top: 15px;
  font-size: 22px;
  color: #071360;
}
.main-section__item-check {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 308px;
  padding: 0 60px;
  background-color: #f6f6f6;
}
.main-section__item-check ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 20px;
}
.main-section__item-check ul li {
  padding-left: 30px;
  background: url(../images/ico_bullet_check.png) left center no-repeat;
  font-size: 18px;
}
.main-section__foot {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 50px;
}
.main .mySwiper {
  padding-top: 30px;
}
.main .mySwiper .swiper-slide ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.main .mySwiper .swiper-slide ul li {
  text-align: center;
}
.main .mySwiper .swiper-slide ul li img {
  width: 100%;
}
.main .mySwiper .swiper-pagination {
  top: 0;
  bottom: unset;
}
.main .mySwiper .swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
}
.main .mySwiper .swiper-pagination .swiper-pagination-bullet-active {
  width: 40px;
  background-color: #508cef;
  border-radius: 8px;
  transition: width ease 0.6s;
}
.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 45px;
  background: #333;
  font-size: 13px;
  font-weight: 400;
  color: #666;
}
.main-footer__head {
  margin-bottom: 10px;
}
.main-footer ul {
  display: flex;
  gap: 32px;
}
.main-footer ul li {
  position: relative;
}
.main-footer ul li + li::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: -15px;
  transform: translateY(-50%);
  width: 1px;
  height: 14px;
  background-color: #666;
}
.main-footer address {
  margin: 6px 0;
}
.main-footer img {
  margin-top: 24px;
}

@media (max-width: 1200px) {
  .main-header .inner {
    position: relative;
    height: 55px;
  }
  .main-header__logo img {
    width: 143px;
  }
  .main-header__gnb {
    display: none;
  }
  .main-header__gnb-dim {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.7;
    z-index: 1000;
  }
  .main-header__gnb-dim + .main-header__gnb {
    position: fixed;
    top: 0;
    right: -100%;
    width: calc(100% - 100px);
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    z-index: 9999;
    transition: ease 0.4s right;
  }
  .main-header__gnb-button {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 24px;
    right: 20px;
    cursor: pointer;
    z-index: 9999;
    transition: ease all 0.4s;
  }
  .main-header__gnb-button span {
    position: relative;
    display: block;
    width: 100%;
    height: 4px;
    background: #333;
    transition: ease all 0.4s;
    background-color: #fff;
  }
  .main-header__gnb-button.active {
    position: fixed;
    top: 15px;
    right: calc(100% - 120px);
    transform: translateX(-100%);
    z-index: 2002;
  }
  .main-header__gnb-button.active span {
    position: absolute;
    background-color: #fff;
  }
  .main-header__gnb-button.active span:first-child {
    left: 50%;
    top: calc(50% - 4px);
    transform: translate(-50%, 50%) rotate(-45deg);
  }
  .main-header__gnb-button.active span:last-child {
    left: 50%;
    top: calc(50% - 4px);
    transform: translate(-50%, 50%) rotate(45deg);
  }
  .main-header__gnb-button.active span:nth-child(2) {
    opacity: 0;
  }
  .main-header__gnb-button.active + .main-header__gnb-dim {
    display: block;
  }
  .main-header__gnb-button.active + .main-header__gnb-dim + .main-header__gnb {
    display: flex;
    top: 50px;
    right: 0;
    gap: 0;
    color: #333;
  }
  .main-header__gnb-button.active + .main-header__gnb-dim + .main-header__gnb li {
    display: flex;
    align-items: center;
    padding-left: 20px;
    height: 55px;
    border-bottom: 1px solid #eaeaea;
    font-weight: 400;
  }
  .main-header__gnb-button.active + .main-header__gnb-dim + .main-header__gnb + .main-header__login {
    right: 0;
  }
  .main-header__login {
    position: fixed;
    top: 0;
    right: 100%;
    transform: none;
    display: flex;
    align-items: center;
    width: calc(100% - 100px);
    height: 55px;
    padding-left: 20px;
    background-color: #508cef;
    font-weight: 400;
    color: #fff;
    z-index: 2001;
    transition: right 0.4s ease;
  }
  .main-visual ul {
    gap: 20px;
  }
  .main-section__item-list img {
    max-width: 120px;
  }
  .main-section__item-list--type02 img {
    max-width: 290px;
  }
  .main-section__item-step img {
    max-width: 100px;
  }
  .main .mySwiper .swiper-slide ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 1000px) {
  .mo {
    display: inline;
  }
  .pc {
    display: none;
  }
  .button {
    height: 39px;
    padding: 0 22px;
    background-color: #333;
    color: #fff;
    font-size: 11px;
  }
  .button .ico-more {
    width: 30px;
    margin-left: 22px;
  }
  .button:hover {
    background-color: #000;
  }
  .main-visual .inner {
    max-width: 100%;
    padding-top: 100px;
    padding-bottom: 40px;
  }
  .main-visual__text {
    font-size: 24px;
  }
  .main-visual__text-sub {
    font-size: 18px;
  }
  .main-visual__text-more {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 8px;
  }
  .main-visual__text-more p {
    margin-bottom: 16px;
    font-size: 32px;
  }
  .main-section .inner {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .main-section__nav ol {
    margin-top: 30px;
  }
  .main-section__nav ul {
    margin-top: 50px;
    flex-direction: column;
    gap: 15px;
  }
  .main-section__nav-item {
    display: flex;
    align-items: center;
  }
  .main-section__nav-item::after {
    top: 50%;
    left: unset;
    right: 15px;
    transform: translateY(-50%);
    width: 24px;
    height: 34px;
    background: url(../images/ico_scroll_arrow_down.png) no-repeat bottom 8px center/8px;
  }
  .main-section__nav-item a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 49px;
    padding: 7px 15px;
    z-index: 1;
  }
  .main-section__nav-title {
    height: auto;
    text-align: left;
    font-size: 15px;
    border: 0;
  }
  .main-section__nav p {
    display: none;
  }
  .main-section__head-text {
    font-size: 26px;
  }
  .main-section__head-text span {
    font-size: 28px;
  }
  .main-section__head-text span strong {
    font-size: 30px;
    line-height: 1.3;
  }
  .main-section__head-text--type03 {
    font-size: 26px;
  }
  .main-section__head-text--type03 strong {
    font-size: 28px;
    font-weight: 400;
  }
  .main-section__item {
    width: 100%;
  }
  .main-section__item > p {
    font-size: 18px;
    margin: 18px 0 8px;
  }
  .main-section__item > span {
    font-size: 16px;
  }
  .main-section__item-list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
  .main-section__item-list--col5 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: auto;
    padding: 40px;
  }
  .main-section__item-list--col5 .main-section__item {
    width: 100%;
  }
  .main-section__item-step {
    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 40px;
  }
  .main-section__item-step ol {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 20px 80px;
  }
  .main-section__item-step ol li + li::before {
    left: -54px;
  }
  .main-section__item-step ol li:nth-child(4)::before {
    display: none;
  }
  .main-section__item-check {
    height: auto;
    padding: 38px 28px;
  }
  .main-section__item-check ul {
    display: flex;
    flex-direction: column;
  }
  .main-section__item-check ul li {
    width: 100%;
    background: url(../images/ico_bullet_check.png) no-repeat left top 2px/18px;
    font-size: 14px;
  }
  .main-section__head {
    margin-bottom: 50px;
  }
  .main-footer {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }
  .main-footer ul:not(.main-footer__head) {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    gap: 10px 20px;
  }
  .main-footer ul:not(.main-footer__head) li + li:before {
    display: none;
  }
}
@media (max-width: 660px) {
  .main-section .mySwiper .swiper-slide ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
  }
  .main-section__item-list--col5 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;
    padding: 40px;
  }
  .main-section__item-list--col5 .main-section__item {
    width: 100%;
  }
  .main-section__item-step {
    height: auto;
    border-radius: 22px;
  }
  .main-section__item-step-title {
    font-size: 28px;
    top: -18px;
    padding: 0 20px;
    left: calc(50% - 132px);
    font-weight: 400;
  }
  .main-section__item-step ol {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    width: 100%;
    padding: 50px 40px;
  }
  .main-section__item-step ol li {
    width: 100%;
  }
  .main-section__item-step ol li p {
    font-size: 17px;
  }
  .main-section__item-step ol li + li::before {
    display: none;
  }
}