@font-face {
  font-family: "NanumSquareRound";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  word-spacing: -0.05em;
  word-break: keep-all;
  white-space: normal;
}
*:after, *:before {
  box-sizing: border-box;
}

*::-moz-selection {
  background: #0a64bf;
  color: #fff;
}

*::selection {
  background: #0a64bf;
  color: #fff;
}

html,
body {
  width: 100%;
  height: 100%;
  -webkit-text-size-adjust: none;
  font-size: 62.5%;
}

body {
  font-size: 62.5%;
  font-family: "NanumSquareRound", sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

label {
  cursor: pointer;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

code {
  display: block;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: none;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
blockquote,
big,
body,
center,
canvas,
caption,
cite,
code,
command,
datalist,
dd,
del,
details,
dfn,
dl,
div,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
keygen,
label,
legend,
li,
meter,
nav,
menu,
object,
ol,
output,
p,
pre,
progress,
q,
s,
samp,
section,
small,
span,
source,
strike,
strong,
sub,
sup,
table,
tbody,
tfoot,
thead,
th,
tr,
td,
video,
tt,
u,
ul,
var {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
th,
td,
table,
input,
button,
select,
textarea {
  font-size: inherit;
}

input,
button,
select,
textarea {
  margin: 0;
  padding: 0;
  color: #555;
  box-sizing: border-box;
  font-size: inherit;
  font-family: "NanumSquareRound", sans-serif;
}

em,
cite,
address,
optgroup {
  font-style: normal;
}

kbd,
samp,
code {
  font-family: monospace;
}

img,
input,
button,
select,
textarea {
  vertical-align: middle;
}

img {
  -ms-interpolation-mode: bicubic !important;
}

ul,
ol {
  list-style: none;
}

img,
fieldset {
  border: 0;
}

abbr,
acronym {
  border-bottom: 1px dotted --black;
  cursor: help;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

article,
aside,
audio,
canvas,
command,
datalist,
details,
embed,
figcaption,
figure,
footer,
header,
hgroup,
keygen,
meter,
nav,
output,
progress,
section,
source,
video {
  display: block;
}

mark,
rp,
rt,
ruby,
summary,
time {
  display: inline;
}

body,
html {
  min-width: 1660px;
}

.checkbox-inline {
  display: flex;
  -moz-column-gap: 94px;
       column-gap: 94px;
}

.checkbox {
  display: inline-flex;
}
.checkbox input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  white-space: nowrap;
}
.checkbox input + label {
  display: flex;
}
.checkbox input + label::before {
  content: "";
  display: block;
  width: 57px;
  min-width: 57px;
  height: 57px;
  margin-right: 7px;
  border: 2px solid #C5B5BA;
  border-radius: 4px;
}
.checkbox input + label span {
  position: relative;
  font-size: 38px;
  font-weight: 700;
  color: #000;
}
.checkbox input:checked + label {
  position: relative;
}
.checkbox input:checked + label::after {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  display: block;
  width: 84px;
  height: 102px;
  transform: translateY(-50%);
  background: url(../images/ic-check.svg) no-repeat;
}

.textarea textarea {
  width: 100%;
  background-color: #F6E2E8;
  background-attachment: local;
  border: none;
  outline: none;
  resize: none;
  height: 165px;
  font-size: 38px;
  background-image: repeating-linear-gradient(#F6E2E8, #F6E2E8 75px, #000 75px, #000 76px, #F6E2E8 76px);
  line-height: 76px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.textarea textarea::-webkit-scrollbar {
  display: none;
}
.textarea--white textarea {
  background-color: #fff;
  background-image: none;
  height: 80px;
}

.modal {
  display: none;
  position: fixed;
  inset: 0;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.modal__dim {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
}
.modal__card {
  position: relative;
  width: 1280px;
  height: 688px;
  background-color: #fff;
  z-index: 1000;
  border-radius: 18px;
}
.modal__head {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  padding: 0 43px;
  background-color: #50B584;
  border-radius: 18px 18px 0 0;
}
.modal__title {
  display: flex;
  align-items: center;
}
.modal__title img {
  margin-right: 23px;
}
.modal__title p {
  font-family: "NanumSquareRound", sans-serif;
  font-weight: 800;
  font-size: 30px;
  color: #fff;
  text-shadow: 2px 2px 0 #23965E, -2px 2px 0 #23965E, 2px -2px 0 #23965E, -2px -2px 0 #23965E, 0 2px 0 #23965E, 2px 0 0 #23965E, 0 -2px 0 #23965E, -2px 0 0 #23965E;
}
.modal__contents {
  padding: 54px 64px;
}
.modal__contents dl {
  display: flex;
  font-size: 38px;
  font-weight: 800;
}
.modal__contents dl dt {
  position: relative;
  padding-left: 50px;
  font-weight: 800;
  margin-right: 12px;
}
.modal__contents dl dt::before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 20px;
  left: 0;
  background-color: #50B584;
  border-radius: 50%;
}
.modal__contents dl dd {
  font-weight: 500;
}
.modal__contents dl dd img {
  margin-right: 10px;
  margin-left: 10px;
  width: 33px;
}
.modal__contents dl + dl {
  margin-top: 20px;
}
.modal.is-open {
  display: flex;
}

.activity .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
  background-color: #60BEEE;
}
.activity .header__title {
  display: flex;
  align-items: center;
  height: 62px;
}
.activity .header__title h2 {
  font-family: "NanumSquareRound", sans-serif;
  font-weight: 800;
  font-size: 28px;
  color: #fff;
  text-shadow: 2px 2px 0 #007CBC, -2px 2px 0 #007CBC, 2px -2px 0 #007CBC, -2px -2px 0 #007CBC, 0 2px 0 #007CBC, 2px 0 0 #007CBC, 0 -2px 0 #007CBC, -2px 0 0 #007CBC;
}
.activity .header__title img {
  width: 36px;
  margin-right: 24px;
}
.activity .header__progress {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 454px;
  height: 48px;
  background: url("../images/bg-progress.svg") no-repeat;
  font-size: 22px;
  font-weight: 800;
  color: #215068;
}
.activity .contents > .inner {
  padding: 40px 50px;
}
.activity .contents__title {
  margin-bottom: 60px;
}
.activity .contents__title p {
  font-weight: 800;
  font-size: 44px;
}
.activity .contents__title p strong {
  color: #E36551;
  margin-right: 26px;
}
.activity .contents .mySwiper {
  margin-left: 86px;
  margin-right: 26px;
}
.activity .contents .mySwiper .inner {
  height: 587px;
  padding: 0 64px;
  margin-bottom: 90px;
}
.activity .contents .mySwiper__box {
  display: flex;
  flex-wrap: wrap;
  height: 554px;
  margin-top: 46px;
  padding-left: 58px;
  padding-right: 73px;
  background-color: #F6E2E8;
  border-radius: 30px;
}
.activity .contents .mySwiper__head {
  display: flex;
  align-items: center;
  width: 100%;
  height: 68px;
  padding-left: 44px;
  padding-right: 40px;
  transform: translateY(-50%);
}
.activity .contents .mySwiper__composer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 68px;
  margin-right: auto;
  background: url(../images/bg-composer.svg) no-repeat;
}
.activity .contents .mySwiper__composer p {
  color: #fff;
  font-size: 30px;
  font-weight: 800;
  line-height: 1;
}
.activity .contents .mySwiper__introduction {
  position: relative;
  width: 196px;
  height: 58px;
  padding-right: 32px;
  background: url(../images/bg-introduction.svg) no-repeat;
  font-size: 24px;
  text-align: right;
  color: #fff;
  margin-right: 15px;
}
.activity .contents .mySwiper__introduction::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 12px;
  width: 77px;
  height: 72px;
  background: url(../images/ico-introduction.svg) no-repeat;
}
.activity .contents .mySwiper__bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 278px;
  height: 224px;
  background: url(../images/bg-bubble.svg) no-repeat;
  font-size: 38px;
  padding-left: 26px;
  padding-right: 26px;
  padding-bottom: 46px;
  line-height: 50px;
  font-weight: 700;
}
.activity .contents .mySwiper__character {
  margin-right: 38px;
}
.activity .contents .mySwiper__form {
  flex-grow: 1;
}
.activity .contents .mySwiper__form-title {
  margin-bottom: 44px;
  padding-left: 212px;
  font-size: 38px;
  color: #7e0b0a;
  font-weight: 800;
}
.activity .contents .mySwiper__form dl {
  display: flex;
}
.activity .contents .mySwiper__form dl dt {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 142px;
  height: 61px;
  min-width: 142px;
  background: url(../images/bg-form-badge.svg) no-repeat;
  font-size: 30px;
  font-weight: 700;
  margin-right: 43px;
}
.activity .contents .mySwiper__form dl dd {
  flex-grow: 1;
}
.activity .contents .mySwiper__form dl dd .checkbox-inline {
  margin-left: 40px;
}
.activity .contents .mySwiper__form dl + dl {
  margin-top: 79px;
}
.activity .contents .mySwiper .swiper-button-next {
  right: 0;
  width: 41px;
  height: 80px;
}
.activity .contents .mySwiper .swiper-button-next::after {
  background: url(../images/ico-arrow.svg) no-repeat;
  font-size: 0;
  width: 41px;
  height: 80px;
}
.activity .contents .mySwiper .swiper-button-next.swiper-button-disabled::after {
  transform: scaleX(-1);
}
.activity .contents .mySwiper .swiper-button-prev {
  width: 41px;
  height: 80px;
  left: 0;
}
.activity .contents .mySwiper .swiper-button-prev::after {
  background: url(../images/ico-arrow.svg) no-repeat;
  font-size: 0;
  width: 41px;
  height: 80px;
  transform: scaleX(-1);
}
.activity .contents .mySwiper .swiper-button-prev.swiper-button-disabled::after {
  transform: scaleX(1);
}
.activity .contents .mySwiper .swiper-button-disabled {
  opacity: 1;
}
.activity .contents .mySwiper .swiper-button-disabled::after {
  background: url(../images/ico-arrow-disabled.svg) no-repeat;
}
.activity .contents .mySwiper .swiper-pagination-bullet {
  width: 30px;
  height: 30px;
  margin-left: 12.5px !important;
  margin-right: 12.5px !important;
}
.activity .contents .mySwiper .swiper-pagination-bullet-active {
  background-color: #50B584;
}
.activity .contents .mySwiper .swiper-pagination {
  bottom: 0;
}
.activity .contents .activity4 {
  position: relative;
  width: 100%;
  min-width: 1806px;
}
.activity .contents .activity4__center {
  position: relative;
  width: 378px;
  height: 749px;
  margin: 0 auto;
  background: url(../images/bg-activity4.png) no-repeat center top/100% auto;
}
.activity .contents .activity4__center-title {
  padding-top: 130px;
  text-align: center;
  color: #fff;
  font-size: 30px;
  line-height: 1;
  margin-right: 24px;
}
.activity .contents .activity4__center::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 530px;
  height: 421px;
  background: url(../images/line-activity4.svg) no-repeat center top/100% auto;
}
.activity .contents .activity4__item {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 547px;
  height: 309px;
  padding: 38px 58px;
  background: url(../images/bg-activity4-item.svg) no-repeat center top/100%;
}
.activity .contents .activity4__item .textarea {
  margin-top: auto;
}
.activity .contents .activity4__item--type01 {
  top: 0;
  left: 60px;
  width: 585px;
  height: 325px;
  padding-top: 54px;
  padding-left: 96px;
  background: url(../images/bg-activity4-item2.svg) no-repeat center top/100%;
}
.activity .contents .activity4__item--type02 {
  top: 0;
  right: 95px;
}
.activity .contents .activity4__item--type03 {
  bottom: 0;
  left: 96px;
}
.activity .contents .activity4__item--type03 img {
  width: 194px;
}
.activity .contents .activity4__item--type04 {
  bottom: 0;
  right: 95px;
}
.activity .contents .activity4__item dl {
  display: flex;
}
.activity .contents .activity4__item dl dt {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 30px;
  background-color: #778FAC;
  color: #fff;
  text-align: center;
  line-height: 1;
  padding-top: 4px;
  padding-right: 2px;
}
.activity .contents .activity4__item dl dd {
  padding-left: 22px;
  font-size: 30px;
  font-weight: 400;
}
.activity .contents .activity4__title {
  text-align: center;
  font-size: 35px;
  font-weight: 800;
  color: #000;
}/*# sourceMappingURL=style.css.map */